html {
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgb(18, 188, 165), rgb(44, 189, 42));
}

.header {
  margin-top: 20px;
  font-size: 50px;
}

.head {
  font-size: 40px;
  font-weight: 100;
}

.whole {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game {
  display: flex;
  gap: 20%;
  justify-content: center;
  align-items: center;
}

.p1,
.p2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.play-btn-div {
  margin-top: 20px;
}

.play-btn-img {
  height: 20em;
  width: 35em;
}

.play-btn {
  padding: 1%;
}

.play-btn:hover {
  cursor: pointer;
}

.play-btn-div {
  display: flex;
  column-gap: 1%;
  justify-content: center;
  align-items: center;
}

.play-btn-div p {
  width: 300px;
  font-size: 28px;
  font-weight: 800;
}